<section class="home">


<h1><%= t('homepage.you_re_going_to_find') %></h1>

<div>
  <%= form_tag root_path, method: :get do %>
    <%= text_field_tag 'query', nil, placeholder: t('homepage.what_searching_for'), class: 'form-control search' %>
    <%= submit_tag t('homepage.search'), class: 'btn btn-primary search_submit green_button' %>
  <% end %>
</div>

<% @announces.each do |post| %>
    <section class="vanish">
      <a href="<%= listing_path(post.id) %>">
        <h2><%= post.title %></h2>
        <% if post.picture.attached? %>
          <%= image_tag post.picture, width: '100px' %>
        <% end %>
      </a>
    </section>
<% end %>
</section>


