


<% @announces.each do |post| %>
    <section class="announces">
      <a href="<%= listing_path(post.id) %>">
        <h2><%= post.title %></h2>
        <h2><%= post.price %></h2>
        <h2><%= post.content %></h2>



        <% Category.all.each do |category|
          if category.id == post.category_id%>
            <p><%= category.name %></p>
          <% end %>
        <% end %>


        <% if post.picture.attached? %>
          <%= image_tag post.picture, width: '100px' %>
        <% end %>
      </a>
    </section>
  </hr>
<% end %>