<section class="home">


  <h1><%= t('homepage.you_re_going_to_find') %></h1>

  <div>
    <%= form_tag listings_path, method: :get do %>
      <%= text_field_tag 'query', nil, placeholder: t('homepage.what_searching_for'), class: 'form-control search' %>
      <%= submit_tag t('homepage.search'), class: 'btn btn-primary search_submit green_button' %>
    <% end %>
  </div>
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= t('homepage.created_listing') %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary orange_button" id="close" data-dismiss="modal"><%= t('general_listing.close') %></button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<script>
    $( ".close" ).click(function() {
        close_modal();
    });
    $( "#close" ).click(function() {
        close_modal();
    });
</script>
