<h1>Coucou nous sommes dans le index.html</h1>

<% if user_signed_in? %>
  <li class="bouton_log_out">
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li class="bouton_log_in">
    <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<% @annonces.each do |post| %>
<a href="<%= annonce_path(post.id) %>">
  <h2><%= post.title %></h2>

  <% if post.picture.attached? %>
    <%= image_tag post.picture, width: '100px' %>
  <% end %>
</a>


<% end %>