<h1>Coucou nous sommes dans le show.html</h1>

<%= render partial: 'header' %>

<h2>Title : <%= @annonce.title %></h2>
<i>Content : <%= @annonce.content %></i>
<p>Ecrit par :<%= @annonce.user.name %></p>
<p>Category :<%= @annonce.category.name %></p>
<p>Price :<%= @annonce.price %></p>
<% if @annonce.picture.attached? %>
  <%= image_tag @annonce.picture, width: '100px' %>
<% end %>