<header>
  <p class="title"> Listing</p>
  <h1><%= link_to 'Add Class', root_path, class: "btn btn-primary"%></h1>
  <!-- Login / LogOut option-->
  <% if user_signed_in? %>
  <li class="bouton_log_out">
    <%= link_to(t('header.logout'), destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li class="bouton_log_in">
    <%= link_to(t('header.login'), new_user_session_path)  %>
  </li>
<% end %>

  <div class="test">
    <select data-do="select_language" class="form-control">
      <option value="fr" <%= "selected" if session[:language] == 'fr' %>>Fr</option>
      <option value="en" <%= "selected" if session[:language] == 'en' %>>En</option>
    </select>
  </div>


</header>